/* Zeranpx;*/
*{
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: Arial;	
}

html{
	line-height:16px;
}

/* geral */
.geral{
	background:url('../img/fd-interna.jpg') no-repeat;
}

.geral .menu{
	background: url('../img/menu-top-fd.png') repeat-x;
	height: 215px;
	width: 100%;
	overflow:hidden;
}

.geral .menu .logo{
	background: url('../img/menu-top-logo.png') repeat-x;
	float: left;
	width: 531px;
	height: 216px;
	position: relative;
	margin-left: 75px;
}

.geral .menu .logo img{ 
	top: 26px;
	position: absolute;
	left: 162px;	
}

.geral .menu ul{
	display: inline-table;
	height: 20px;
	margin-top: 20px;
	width: 450px;
	float: left;
	margin-left: 70px;
}

.geral .menu li{
	display:inline-block;
	border-right:#fff 1px dashed;	
}

.geral .menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	margin: 0px 35px 0px 35px;
	font-weight:bold;
}

.geral .principal{
	width:960px;
	margin:0 auto;
	min-height:500px;
	position:relative;
}


.geral .principal .col_right{	
	float:right;
	width: 705px;
	min-height: 764px;
	margin-left: 10px;
}

.geral .principal .col_full h1, .geral .principal .col_right h1{
	font-size: 18px;
	color: #0f3c65;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: -85px;
	line-height: 16px;
	left: 84%;
	min-width: 160px;
}

.geral .principal .col_right p{
	font-size: 13px;
	color: #404040;
	margin: 10px 0px;
	text-align: justify;
}

.geral .principal .col_full{
	font-size: 13px;
	float:none;
	display: inline-block;
}

.geral .principal .col_left{
	width: 241px;
	display:inline-block;
}

.geral .principal .col_left a{
	display: block;
	width: 241px;
	margin:11px 0px;
}

.geral .principal .meu_perfil{
	min-height:450px;
}

.geral .principal .meu_perfil .span5{
	background-color:#fff;
}

.geral .principal .meu_perfil .span5 .btn{
	display:block;
}

.geral .principal .rodape{
	background: url('../img/fd_rodape.png') no-repeat;
	display: block;
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 30px;
	margin-top: 50px;
	text-align: center;
}

.geral .principal .rodape ul{
	width: 500px;
	display: block;
	margin: 0 auto 30px;
	text-align: center;
}

.geral .principal .rodape li{
	display: inline-block;
	margin-right: 5px;
}



/*Embarcação Integra*/
.geral .principal .integra .col_left{
	width:598px;
	min-height:800px;
}

.geral .principal .integra .col_right{
	width:358px;
	margin-left:0px;
}

.geral .principal .integra h1{
	right: 135px;
}

.geral .principal .integra .galeria{
	width:598px;
	height:301px;
}

.geral .principal .integra .galeria .dest{
	width: 509px;
	height: 301px;
	float: left;
}

.geral .principal .integra .galeria ul li{
	width: 86px;
	height: 73px;
	float: right;
	margin-bottom:3px;
}

.geral .principal .integra .col_left .desc{
	border-bottom:#2573bd 1px solid;
	height:34px;
	margin-top: 20px;
}


.geral .principal .integra .col_left p{
	font-size: 13px;
	color: #404040;
	margin: 10px 0px;
	text-align: justify;
}

.geral .principal .integra .col_right .espec{
	width:338px;
	height:471px;
	background-color:#e5e5e5;
	padding-left:20px;
	
	color:#777777;
	font-size:12px;
	position:relative;
}

.geral .principal .integra .col_right .espec .itens{
	margin:0px;
}

.geral .principal .integra .col_right .espec .row{
	margin:0px;
}

.geral .principal .integra .col_right .espec li ul{
	margin-left:0px;	
}

.geral .principal .integra .col_right .espec h3{
	padding-top:10px;
}

.geral .principal .integra .col_right .espec .ttl, .geral .principal .integra .col_right .contato .ttl{
	font-size: 20px;
	color: #113c67;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 16px;
}

.geral .principal .integra .col_right .espec .row .ttl, .geral .principal .integra .col_right .contato ul .ttl{
	text-transform:none;
	font-size:13px;
}

.geral .principal .integra .col_right .espec .itens{
	margin-top:20px;
}

.geral .principal .integra .col_right .espec .row{
	display: block;
	margin-bottom: 14px;
	line-height:16px;
}

.geral .principal .integra .col_right .espec .row li{
	display: inline-table;
	width: 160px;
	line-height:16px;
}

.geral .principal .integra .col_right .espec .preco{
	background: url('../img/bg-preco.png') no-repeat;
	position: absolute;
	width: 251px;
	height: 52px;
	bottom: -26px;
	left: 52px;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	padding-top: 10px;
	z-index: 2;
}

.geral .principal .integra .col_right .contato{
	height:119px;
	border:#dfdfdf 1px solid;
	padding-top:13px;
	padding-left:20px;
	position:relative;
	z-index: 1;
}

.geral .principal .integra .col_right .contato img{
	width: 65px;
	height: 65px;
	background-color: #fff;
	padding: 4px;
	margin-top:10px;
}

.geral .principal .integra .col_right .contato .ttl{
	margin-bottom:0px;
	height: 20px;
}

.geral .principal .integra .col_right .contato ul{
	position: absolute;
	top: 57px;
	left: 85px;
}

.geral .principal .integra .col_right .contato li{
	font-size:12px;
}

.geral .principal .integra .EnviarMensagem .ttl{
	font-size: 20px;
	color: #113c67;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 16px;
}

.geral .principal .integra .EnviarMensagem, .geral .principal .integra .EnviarMensagem label, .geral .principal .integra .EnviarMensagem input{
	font-size:13px;
}

/*Busca Integra*/

.geral .principal li{
	line-height:14px;
}

.geral .principal .busca{
	background: url('../img/fd-busca-p.jpg') no-repeat;
	height: 352px;
	padding:23px 16px 0px 16px;
	color:#444444;
	font-size: 11px;
	font-weight: bold;
	position:relative;
}

.geral .principal .col_right .search-full .busca p {
	color:#444444;
	font-size: 11px;
}

.geral .principal .col_right .search-full .Resultados ul{	
	margin-left: 0px;
}

.geral .principal .col_right .search-full  .Resultados ul li{
	width:342px;
	height:326px;
	display:inline-block;
	margin:8px 0px 5px 0px;
	position:relative;
}

.geral .principal .col_right .search-full .Resultados ul li a img{ 
	float:left;
}

.geral .principal .col_right .search-full .Resultados ul li a .desc{
	width: 340px;
	height: 126px;
	float:left;
	background: url('../img/bg-content.jpg') no-repeat;
	font-size: 12px;
}

.geral .principal .col_right .search-full .Resultados ul li a .desc li{
	margin: 0px;
	height: 10px;
	width: 165px;
	line-height:16px;
}

.geral .principal .col_right .search-full .Resultados ul li a .desc .desc_left{
	display: inline-block;
	width: 155px;
	text-align:right;
	color:#aaa;
	margin-right:16px;
}

.geral .principal .col_right .search-full .Resultados ul li a .desc .desc_right{
	display: inline-block;
	width: 165px;
	color:#434343;
}

.geral .principal .col_right .search-full .Resultados ul li a .pic{
	position: absolute;
	top: 160px;
	left: 135px;
	width: 65px;
	height: 65px;
	background-color: #fff;
	padding: 4px;
}

.geral .principal .col_right .search-full .Resultados ul li a .desc .ttl{
	border-bottom:0px;
	font-size: 13px;
	color: #2472ba;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 39px;
	height:15px;
}

.geral .principal .col_right .search-full .Resultados p{
	border-bottom: #2474bb 1px solid;
	height: 34px;
	margin-top: 10px;
}

.geral .principal .col_right .search-full .Resultados .Paginacao li{
	width:41px;
	height:41px;
}

.geral .principal .col_right .search-full .Resultados .Paginacao li a{
	width: 41px;
	height: 27px;
	background: url('../img/fd-paginacao-selecionada.jpg') no-repeat;
	display: block;
	text-align: center;
	padding-top: 14px;
	color: #FFF;
}

.geral .principal .busca h3{
	font-size: 16px;
	color: #2472ba;
	font-weight: bold;
	line-height: 20px;
	margin: 0px;
}

.geral .principal .busca p{
	margin:28px 0px 28px 0px;
	text-align:right;
}

.geral .principal .busca select{
	float:right;
	margin-left:10px;
	font-size:11px;
}

.geral .principal .busca .btn{
	background: url('../img/btn-busca.png') no-repeat;
	position: absolute;
	width: 121px;
	height: 54px;
	left: 293px;
	bottom: 6px;
	text-indent: -666em;
	overflow:hidden;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0px;
	padding:0px;
}